<a href="https://colab.research.google.com/github/Misudhari/Deep-Learning-Lab/blob/main/1132210046_Mithilesh_Chaudhari_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mithilesh Chaudhari 
# 1132210046
# Roll no : 11

In [ ]:
!pip install keras_tuner

Requirement already satisfied: keras_tuner in c:\users\shreya\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: packaging in c:\users\shreya\anaconda3\lib\site-packages (from keras_tuner) (21.3)
Requirement already satisfied: kt-legacy in c:\users\shreya\anaconda3\lib\site-packages (from keras_tuner) (1.0.4)
Requirement already satisfied: numpy in c:\users\shreya\anaconda3\lib\site-packages (from keras_tuner) (1.21.5)
Requirement already satisfied: requests in c:\users\shreya\anaconda3\lib\site-packages (from keras_tuner) (2.27.1)
Requirement already satisfied: ipython in c:\users\shreya\anaconda3\lib\site-packages (from keras_tuner) (8.2.0)
Requirement already satisfied: tensorboard in c:\users\shreya\anaconda3\lib\site-packages (from keras_tuner) (2.9.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\shreya\anaconda3\lib\site-packages (from ipython->keras_tuner) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\shreya\anaconda3\lib\site-packages (from ipython->keras_tuner) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\shreya\anaconda3\lib\site-packages (from ipython->keras_tuner) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\shreya\anaconda3\lib\site-packages (from ipython->keras_tuner) (61.2.0)
Requirement already satisfied: colorama in c:\users\shreya\anaconda3\lib\site-packages (from ipython->keras_tuner) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\shreya\anaconda3\lib\site-packages (from ipython->keras_tuner) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\shreya\anaconda3\lib\site-packages (from ipython->keras_tuner) (0.1.2)
Requirement already satisfied: decorator in c:\users\shreya\anaconda3\lib\site-packages (from ipython->keras_tuner) (5.1.1)
Requirement already satisfied: backcall in c:\users\shreya\anaconda3\lib\site-packages (from ipython->keras_tuner) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\shreya\anaconda3\lib\site-packages (from ipython->keras_tuner) (5.1.1)
Requirement already satisfied: stack-data in c:\users\shreya\anaconda3\lib\site-packages (from ipython->keras_tuner) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\shreya\anaconda3\lib\site-packages (from jedi>=0.16->ipython->keras_tuner) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\shreya\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->keras_tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\shreya\anaconda3\lib\site-packages (from packaging->keras_tuner) (3.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shreya\anaconda3\lib\site-packages (from requests->keras_tuner) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shreya\anaconda3\lib\site-packages (from requests->keras_tuner) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\shreya\anaconda3\lib\site-packages (from requests->keras_tuner) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shreya\anaconda3\lib\site-packages (from requests->keras_tuner) (2021.10.8)
Requirement already satisfied: pure-eval in c:\users\shreya\anaconda3\lib\site-packages (from stack-data->ipython->keras_tuner) (0.2.2)
Requirement already satisfied: asttokens in c:\users\shreya\anaconda3\lib\site-packages (from stack-data->ipython->keras_tuner) (2.0.5)
Requirement already satisfied: executing in c:\users\shreya\anaconda3\lib\site-packages (from stack-data->ipython->keras_tuner) (0.8.3)
Requirement already satisfied: six in c:\users\shreya\anaconda3\lib\site-packages (from asttokens->stack-data->ipython->keras_tuner) (1.16.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\shreya\anaconda3\lib\site-packages (from tensorboard->keras_tuner) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\shreya\anaconda3\lib\site-packages (from tensorboard->keras_tuner) (1.8.1)
Requirement already satisfied: grpcio>=1.24.3 in c:\users\shreya\anaconda3\lib\site-packages (from tensorboard->keras_tuner) (1.42.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\shreya\anaconda3\lib\site-packages (from tensorboard->keras_tuner) (1.33.0)
Requirement already satisfied: wheel>=0.26 in c:\users\shreya\anaconda3\lib\site-packages (from tensorboard->keras_tuner) (0.37.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\shreya\anaconda3\lib\site-packages (from tensorboard->keras_tuner) (0.6.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\shreya\anaconda3\lib\site-packages (from tensorboard->keras_tuner) (3.19.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\shreya\anaconda3\lib\site-packages (from tensorboard->keras_tuner) (3.3.4)
Requirement already satisfied: absl-py>=0.4 in c:\users\shreya\anaconda3\lib\site-packages (from tensorboard->keras_tuner) (1.2.0)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\shreya\anaconda3\lib\site-packages (from tensorboard->keras_tuner) (2.0.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\shreya\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\shreya\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\shreya\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\shreya\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\shreya\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\shreya\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (3.2.0)

### Importing libraries

In [ ]:
import pandas as pd
import keras
from sklearn.model_selection import train_test_split
from keras_tuner.tuners import RandomSearch
from keras.layers import Dense,Dropout,Flatten,ReLU,LeakyReLU
from keras import layers

### Loading data

In [ ]:
data = pd.read_csv("data.csv")

In [ ]:
data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,313000.0,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2384000.0,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,342000.0,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,420000.0,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,550000.0,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [ ]:
data.isna().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

### Dropping Unnecessary columns

In [ ]:
drop_cols = ["country","street","city","statezip"]
data.drop(columns = drop_cols,inplace = True)

In [ ]:
data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,313000.0,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005
1,2384000.0,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0
2,342000.0,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0
3,420000.0,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0
4,550000.0,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992

In [ ]:
data["yr_old"] = 2022-data["yr_built"]
data["Renovate"] = np.where(data["yr_renovated"]>0,1,0)

In [ ]:
data.drop(columns = ["yr_built","yr_renovated"],inplace = True)

In [ ]:
data.corr()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_old,Renovate
price,1.000000,0.200336,0.327110,0.430410,0.050451,0.151461,0.135648,0.228504,0.034915,0.367570,0.210427,-0.021857,-0.028595
bedrooms,0.200336,1.000000,0.545920,0.594884,0.068819,0.177895,-0.003483,0.111028,0.025080,0.484705,0.334165,-0.142461,-0.060720
bathrooms,0.327110,0.545920,1.000000,0.761154,0.107837,0.486428,0.076232,0.211960,-0.119994,0.689918,0.298020,-0.463498,-0.214931
sqft_living,0.430410,0.594884,0.761154,1.000000,0.210538,0.344850,0.117616,0.311009,-0.062826,0.876443,0.447206,-0.287775,-0.122265
sqft_lot,0.050451,0.068819,0.107837,0.210538,1.000000,0.003750,0.017241,0.073907,0.000558,0.216455,0.034842,-0.050706,-0.023187
floors,0.151461,0.177895,0.486428,0.344850,0.003750,1.000000,0.022024,0.031211,-0.275013,0.522814,-0.255510,-0.467481,-0.232399
waterfront,0.135648,-0.003483,0.076232,0.117616,0.017241,0.022024,1.000000,0.360935,0.000352,0.078911,0.097501,0.023563,0.008503
view,0.228504,0.111028,0.211960,0.311009,0.073907,0.031211,0.360935,1.000000,0.063077,0.174327,0.321602,0.064465,0.022860
condition,0.034915,0.025080,-0.119994,-0.062826,0.000558,-0.275013,0.000352,0.063077,1.000000,-0.178196,0.200632,0.399698,-0.185369
sqft_above,0.367570,0.484705,0.689918,0.876443,0.216455,0.522814,0.078911,0.174327,-0.178196,1.000000,-0.038723,-0.408535,-0.159518
sqft_basement,0.210427,0.334165,0.298020,0.447206,0.034842,-0.255510,0.097501,0.321602,0.200632,-0.038723,1.000000,0.161675,0.042583
yr_old,-0.021857,-0.142461,-0.463498,-0.287775,-0.050706,-0.467481,0.023563,0.064465,0.399698,-0.408535,0.161675,1.000000,0.320180
Renovate,-0.028595,-0.060720,-0.214931,-0.122265,-0.023187,-0.232399,0.008503,0.022860,-0.185369,-0.159518,0.042583,0.320180,1.000000

### Spliting data

In [ ]:
x = data.drop(columns = ["price"])
y = data[["price"]]

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
ms = MinMaxScaler()
sc = StandardScaler()
x = ms.fit_transform(np.array(x))
y = ms.fit_transform(np.array(y))

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 1)

In [ ]:
import tensorflow as tf

### Building model

In [ ]:
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers',2, 20)):
        model.add(layers.Dense(units = hp.Int('Units_' + str(i), min_value = 32, max_value = 512, step = 30), 
                               activation='relu'))
        model.add(layers.Dense(units = 1, activation = 'linear'))
        model.compile(
            optimizer = tf.keras.optimizers.Adam(
                hp.Choice('Learning_rate', [1e-2, 1e-3, 1e-4])), 
            loss = 'mse',
            metrics = ['mse'])
    return model

In [ ]:
tunner = RandomSearch(build_model, 
                      objective = 'val_mse',
                      max_trials = 5,
                      executions_per_trial = 3
                     )

In [ ]:
tunner.search(x_train, y_train, epochs = 5, validation_data = (x_test, y_test))

Trial 5 Complete [00h 00m 33s]
val_mse: 0.00017296829416106144

Best val_mse So Far: 0.00010749481831832479
Total elapsed time: 00h 02m 15s
INFO:tensorflow:Oracle triggered exit

In [ ]:
tunner.results_summary()

Results summary
Results in .\untitled_project
Showing 10 best trials
<keras_tuner.engine.objective.Objective object at 0x00000177E47CE970>
Trial summary
Hyperparameters:
num_layers: 2
Units_0: 92
Learning_rate: 0.01
Units_1: 62
Score: 0.00010749481831832479
Trial summary
Hyperparameters:
num_layers: 6
Units_0: 482
Learning_rate: 0.0001
Units_1: 122
Units_2: 302
Units_3: 62
Units_4: 422
Units_5: 362
Units_6: 182
Units_7: 362
Units_8: 362
Units_9: 422
Units_10: 272
Units_11: 482
Units_12: 272
Units_13: 332
Units_14: 302
Units_15: 272
Units_16: 182
Units_17: 122
Score: 0.00012282053648959845
Trial summary
Hyperparameters:
num_layers: 19
Units_0: 362
Learning_rate: 0.01
Units_1: 512
Units_2: 212
Units_3: 152
Units_4: 122
Units_5: 422
Units_6: 62
Units_7: 482
Units_8: 212
Units_9: 182
Units_10: 302
Units_11: 152
Units_12: 332
Units_13: 392
Units_14: 152
Units_15: 512
Units_16: 212
Units_17: 332
Units_18: 32
Score: 0.00017282820772379637
Trial summary
Hyperparameters:
num_layers: 18
Units_0: 62
Learning_rate: 0.0001
Units_1: 362
Units_2: 32
Units_3: 32
Units_4: 32
Units_5: 32
Units_6: 32
Units_7: 32
Units_8: 32
Units_9: 32
Units_10: 32
Units_11: 32
Units_12: 32
Units_13: 32
Units_14: 32
Units_15: 32
Units_16: 32
Units_17: 32
Score: 0.00017287512794913104
Trial summary
Hyperparameters:
num_layers: 16
Units_0: 122
Learning_rate: 0.01
Units_1: 92
Units_2: 212
Units_3: 182
Units_4: 482
Units_5: 152
Units_6: 392
Units_7: 182
Units_8: 452
Units_9: 122
Units_10: 422
Units_11: 482
Units_12: 182
Units_13: 32
Units_14: 362
Units_15: 422
Units_16: 242
Units_17: 92
Units_18: 482
Score: 0.00017296829416106144

In [ ]:
from keras.models import Sequential

In [ ]:
model = Sequential()
model.add(Dense(212,input_dim = x_train.shape[1],activation = "relu"))
model.add(Dense(332,activation = "relu"))
model.add(Dense(362,activation = "relu"))
model.add(Dense(212,activation = "relu"))
model.add(Dense(362,activation = "relu"))
model.add(Dense(452,activation = "relu"))
model.add(Dense(152,activation = "relu"))
model.add(Dense(182,activation = "relu"))
model.add(Dense(272,activation = "relu"))
model.add(Dense(32,activation = "relu"))
model.add(Dense(1,activation = "linear"))

In [ ]:
model.compile(loss = "mse",optimizer = tf.keras.optimizers.Adam(lr = 0.001),metrics = ["mse"])

C:\Users\SHREYA\anaconda3\lib\site-packages\keras\optimizers\optimizer_v2\adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [ ]:
model.fit(x_train, y_train, epochs = 50,batch_size = 20,validation_data =  (x_test,y_test))

Epoch 1/50
184/184 [==============================] - 4s 13ms/step - loss: 4.8968e-04 - mse: 4.8968e-04 - val_loss: 1.0805e-04 - val_mse: 1.0805e-04
Epoch 2/50
184/184 [==============================] - 2s 11ms/step - loss: 4.7418e-04 - mse: 4.7418e-04 - val_loss: 1.7222e-04 - val_mse: 1.7222e-04
Epoch 3/50
184/184 [==============================] - 2s 12ms/step - loss: 4.8352e-04 - mse: 4.8352e-04 - val_loss: 1.1546e-04 - val_mse: 1.1546e-04
Epoch 4/50
184/184 [==============================] - 2s 12ms/step - loss: 4.7026e-04 - mse: 4.7026e-04 - val_loss: 1.0919e-04 - val_mse: 1.0919e-04
Epoch 5/50
184/184 [==============================] - 2s 11ms/step - loss: 4.4675e-04 - mse: 4.4675e-04 - val_loss: 9.6839e-05 - val_mse: 9.6839e-05
Epoch 6/50
184/184 [==============================] - 2s 12ms/step - loss: 4.5847e-04 - mse: 4.5847e-04 - val_loss: 1.4207e-04 - val_mse: 1.4207e-04
Epoch 7/50
184/184 [==============================] - 2s 12ms/step - loss: 4.5667e-04 - mse: 4.5667e-04 - val_loss: 9.6339e-05 - val_mse: 9.6339e-05
Epoch 8/50
184/184 [==============================] - 2s 12ms/step - loss: 5.9587e-04 - mse: 5.9587e-04 - val_loss: 1.0842e-04 - val_mse: 1.0842e-04
Epoch 9/50
184/184 [==============================] - 2s 12ms/step - loss: 4.7641e-04 - mse: 4.7641e-04 - val_loss: 1.0446e-04 - val_mse: 1.0446e-04
Epoch 10/50
184/184 [==============================] - 2s 12ms/step - loss: 4.5465e-04 - mse: 4.5465e-04 - val_loss: 1.1919e-04 - val_mse: 1.1919e-04
Epoch 11/50
184/184 [==============================] - 2s 12ms/step - loss: 4.4702e-04 - mse: 4.4702e-04 - val_loss: 9.3570e-05 - val_mse: 9.3570e-05
Epoch 12/50
184/184 [==============================] - 2s 12ms/step - loss: 4.4622e-04 - mse: 4.4622e-04 - val_loss: 9.1580e-05 - val_mse: 9.1580e-05
Epoch 13/50
184/184 [==============================] - 2s 12ms/step - loss: 4.3535e-04 - mse: 4.3535e-04 - val_loss: 9.8055e-05 - val_mse: 9.8055e-05
Epoch 14/50
184/184 [==============================] - 2s 11ms/step - loss: 5.5046e-04 - mse: 5.5046e-04 - val_loss: 1.2213e-04 - val_mse: 1.2213e-04
Epoch 15/50
184/184 [==============================] - 2s 11ms/step - loss: 4.6152e-04 - mse: 4.6152e-04 - val_loss: 1.0083e-04 - val_mse: 1.0083e-04
Epoch 16/50
184/184 [==============================] - 2s 11ms/step - loss: 4.4233e-04 - mse: 4.4233e-04 - val_loss: 9.0059e-05 - val_mse: 9.0059e-05
Epoch 17/50
184/184 [==============================] - 2s 11ms/step - loss: 4.3738e-04 - mse: 4.3738e-04 - val_loss: 9.9453e-05 - val_mse: 9.9453e-05
Epoch 18/50
184/184 [==============================] - 2s 11ms/step - loss: 4.3422e-04 - mse: 4.3422e-04 - val_loss: 1.1534e-04 - val_mse: 1.1534e-04
Epoch 19/50
184/184 [==============================] - 2s 12ms/step - loss: 4.3326e-04 - mse: 4.3326e-04 - val_loss: 9.5597e-05 - val_mse: 9.5597e-05
Epoch 20/50
184/184 [==============================] - 2s 12ms/step - loss: 4.3621e-04 - mse: 4.3621e-04 - val_loss: 1.0066e-04 - val_mse: 1.0066e-04
Epoch 21/50
184/184 [==============================] - 3s 14ms/step - loss: 4.2773e-04 - mse: 4.2773e-04 - val_loss: 9.2822e-05 - val_mse: 9.2822e-05
Epoch 22/50
184/184 [==============================] - 2s 12ms/step - loss: 4.2202e-04 - mse: 4.2202e-04 - val_loss: 9.3468e-05 - val_mse: 9.3468e-05
Epoch 23/50
184/184 [==============================] - 2s 13ms/step - loss: 4.1693e-04 - mse: 4.1693e-04 - val_loss: 1.0396e-04 - val_mse: 1.0396e-04
Epoch 24/50
184/184 [==============================] - 2s 10ms/step - loss: 4.2561e-04 - mse: 4.2561e-04 - val_loss: 1.1541e-04 - val_mse: 1.1541e-04
Epoch 25/50
184/184 [==============================] - 2s 11ms/step - loss: 4.3713e-04 - mse: 4.3713e-04 - val_loss: 1.0739e-04 - val_mse: 1.0739e-04
Epoch 26/50
184/184 [==============================] - 2s 13ms/step - loss: 4.2349e-04 - mse: 4.2349e-04 - val_loss: 9.5932e-05 - val_mse: 9.5932e-05
Epoch 27/50
184/184 [==============================] - 2s 12ms/step - loss: 4.1452e-04 - mse: 4.1452e-04 - val_loss: 9.0687e-05 - val_mse: 9.0687e-05
Epoch 28/50
184/184 [==============================] - 2s 11ms/step - loss: 4.1661e-04 - mse: 4.1661e-04 - val_loss: 1.0177e-04 - val_mse: 1.0177e-04
Epoch 29/50
184/184 [==============================] - 2s 11ms/step - loss: 4.2872e-04 - mse: 4.2872e-04 - val_loss: 9.2597e-05 - val_mse: 9.2597e-05
Epoch 30/50
184/184 [==============================] - 2s 11ms/step - loss: 4.4498e-04 - mse: 4.4498e-04 - val_loss: 1.0985e-04 - val_mse: 1.0985e-04
Epoch 31/50
184/184 [==============================] - 2s 11ms/step - loss: 4.3939e-04 - mse: 4.3939e-04 - val_loss: 1.0228e-04 - val_mse: 1.0228e-04
Epoch 32/50
184/184 [==============================] - 2s 11ms/step - loss: 4.2818e-04 - mse: 4.2818e-04 - val_loss: 9.5510e-05 - val_mse: 9.5510e-05
Epoch 33/50
184/184 [==============================] - 2s 11ms/step - loss: 4.1854e-04 - mse: 4.1854e-04 - val_loss: 1.5988e-04 - val_mse: 1.5988e-04
Epoch 34/50
184/184 [==============================] - 2s 11ms/step - loss: 4.2929e-04 - mse: 4.2929e-04 - val_loss: 9.1294e-05 - val_mse: 9.1294e-05
Epoch 35/50
184/184 [==============================] - 2s 13ms/step - loss: 4.1967e-04 - mse: 4.1967e-04 - val_loss: 3.5473e-04 - val_mse: 3.5473e-04
Epoch 36/50
184/184 [==============================] - 2s 12ms/step - loss: 4.3202e-04 - mse: 4.3202e-04 - val_loss: 9.2114e-05 - val_mse: 9.2114e-05
Epoch 37/50
184/184 [==============================] - 2s 11ms/step - loss: 4.1957e-04 - mse: 4.1957e-04 - val_loss: 1.0603e-04 - val_mse: 1.0603e-04
Epoch 38/50
184/184 [==============================] - 2s 13ms/step - loss: 4.1897e-04 - mse: 4.1897e-04 - val_loss: 8.7233e-05 - val_mse: 8.7233e-05
Epoch 39/50
184/184 [==============================] - 2s 11ms/step - loss: 4.1117e-04 - mse: 4.1117e-04 - val_loss: 8.8727e-05 - val_mse: 8.8727e-05
Epoch 40/50
184/184 [==============================] - 2s 11ms/step - loss: 4.3741e-04 - mse: 4.3741e-04 - val_loss: 8.5383e-05 - val_mse: 8.5383e-05
Epoch 41/50
184/184 [==============================] - 3s 14ms/step - loss: 4.1146e-04 - mse: 4.1146e-04 - val_loss: 8.9143e-05 - val_mse: 8.9143e-05
Epoch 42/50
184/184 [==============================] - 3s 16ms/step - loss: 4.1248e-04 - mse: 4.1248e-04 - val_loss: 9.4426e-05 - val_mse: 9.4426e-05
Epoch 43/50
184/184 [==============================] - 2s 11ms/step - loss: 4.1032e-04 - mse: 4.1032e-04 - val_loss: 9.0416e-05 - val_mse: 9.0416e-05
Epoch 44/50
184/184 [==============================] - 2s 11ms/step - loss: 4.1539e-04 - mse: 4.1539e-04 - val_loss: 8.2748e-05 - val_mse: 8.2748e-05
Epoch 45/50
184/184 [==============================] - 2s 11ms/step - loss: 4.1106e-04 - mse: 4.1106e-04 - val_loss: 8.7183e-05 - val_mse: 8.7183e-05
Epoch 46/50
184/184 [==============================] - 2s 12ms/step - loss: 4.0837e-04 - mse: 4.0837e-04 - val_loss: 1.0260e-04 - val_mse: 1.0260e-04
Epoch 47/50
184/184 [==============================] - 2s 14ms/step - loss: 4.1659e-04 - mse: 4.1659e-04 - val_loss: 1.0073e-04 - val_mse: 1.0073e-04
Epoch 48/50
184/184 [==============================] - 2s 14ms/step - loss: 4.1387e-04 - mse: 4.1387e-04 - val_loss: 8.8045e-05 - val_mse: 8.8045e-05
Epoch 49/50
184/184 [==============================] - 2s 12ms/step - loss: 4.1321e-04 - mse: 4.1321e-04 - val_loss: 1.1571e-04 - val_mse: 1.1571e-04
Epoch 50/50
184/184 [==============================] - 2s 12ms/step - loss: 4.0331e-04 - mse: 4.0331e-04 - val_loss: 2.2008e-04 - val_mse: 2.2008e-04

In [ ]:
pred = model.predict(x_test)

29/29 [==============================] - 1s 6ms/step

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test,pred)

-0.27595325978149243